main > .animation h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(69, 0, 132);
    overflow: hidden;
    border-right: .15em solid rgb(203, 182, 119); 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 0em; 
    text-align: left;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret 1s step-end infinite;
}

@media (max-width: 1000px) {
    main > .animation h1 {
        animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(203, 182, 119); }
}

