h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(69, 0, 132);
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

p > a:hover {
    color: rgb(203, 182, 119);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: rgb(203, 182, 119);
}

.logo {
    flex-grow: 1;
}

.logo > a > img {
    content: url(../images/dukes_logo_1.PNG);
    width: 300px;
}


footer {
    color: white;
    background-color: rgb(69, 0, 132);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > a > img {
    height: 40px;
}

.middler {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    font-family:Georgia, 'Times New Roman', Times, serif
}

aside {
    
    flex-basis: 250px;
}

main {
    flex-grow: 1;
    flex-basis: 0;
}

main > img {
    max-width: 100%;
}

main, aside, header, footer {
    padding: 10px;
}


.navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navlink > a {
    color: rgb(69, 0, 132);
    padding: 10px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

.navlink > a:hover {
    color: lavender; 
}


@media (max-width: 1000px) {
    aside {
        display: none;
    }

    .logo > a > img {
        content: url("../images/dukes_logo_1_half.PNG");
        width: 100%;
        max-width: 100px;
        min-width: 50px;
    }

    footer {
        justify-content: space-around;
    }

    .navlink > a {
        font-size: 1.21em;
    }
}

@media (max-width: 450px) {
    .navlink > a {
        font-size: .96em;
        padding: 5px;
    }
}
